body {
    background-color: #170F2F !important;
    margin: 0;
    padding: 0;
    width: 100%;
}
html, body {
    overflow-x: hidden; /* Prevents horizontal scrolling */
}
.btn-purple {
    background-color: #5f2ded !important;
    border: 1px solid #5f2ded !important;
    transition: 0.2s !important;
    color: #fff !important;
}

.btn-purple:hover {
    background-color: #0C0E2B !important;
    color: #5f2ded !important;
}

.login-btn {
    padding: 10px 15px;
}

.btn-pink {
    background-color: #F2277E !important;
    color: #fff !important;
    border: 1px solid #F2277E !important;
}

.btn-pink:hover {
    background-color: #0C0E2B !important;
    color: #F2277E !important;
}

.navbar-nav .nav-link:hover {
    color: #5f2ded !important;
}

.navbar-nav .nav-link.active {
    color: #5f2ded !important;
}
.navbar-toggler{
    color: transparent;
}
.navbar-toggler-icon{
    color: #5f2ded;
    font-size: 28px;
}
/*****************************************banner section******************************/
.banner-section {
    background-color: #170F2F;
    color: white;
}

/*****************************************brand section***********************************/
.brand-section {
    background-color: #0C0E2B;
    padding: 40px 0;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 15px rgba(95, 45, 237);
    border: 1px solid #5f2ded;
}

.brand-logo img {
    max-width: 150px;
    filter: brightness(0.8);
    transition: all 0.3s ease;
}

.brand-logo img:hover {
    filter: brightness(1);
    transform: scale(1.1);
}

/**************************************education solution**********************************/
.education-solution {
    color: #F2277E;
    font-weight: bold;
    letter-spacing: 1px;
}

.custom-list i {
    color: #5f2ded;
    margin-right: 10px;
}

/**************************************popular subjects**************************************/
.popular-subjects-section {
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

.popular-subjects-section-title {
    font-size: 40px;
    font-weight: bold;
}

.popular-subjects-section-title span {
    color: #F2277E;
    text-decoration: underline;
}

.popular-subjects-section .course-card {
    background: #0d062a;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #5f2ded;
    box-shadow: 0 0 10px rgba(95, 45, 237);
    transition: 0.3s;
    cursor: pointer;
}

.popular-subjects-section .course-card:hover {
    transform: translateY(-10px);
}

.popular-subjects-section .course-card:hover i {
    color: #5f2ded;
}

.popular-subjects-section .course-card i {
    font-size: 40px;
    color: #fff;
    margin-bottom: 15px;
    transition: 0.3s;
}

.btn-view {
    background: #ff2e91;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

/**************************************************tab section******************************************/
.nav-tabs {
    border-bottom: transparent !important;
}

.nav-tabs .nav-link {
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(95, 45, 237);
}

.nav-tabs .nav-link:hover {
    border: 1px solid #5f2ded !important;
}

.nav-tabs .nav-link.active {
    color: #5f2ded !important;
    background-color: transparent !important;
    border-radius: 5px;
    border: 1px solid #5f2ded !important;
}

.tab-card {
    background-color: #17093e !important;
    border: none;
}

.tab-badge {
    position: absolute;
    top: 10px;
    left: 10px;
}

.tab-card-footer {
    border-top: 1px solid #5f2ded !important;
}

.tab-price {
    color: #5f2ded;
}

.tab-card i {
    color: #5f2ded;
}

/****************************************registration section********************************/
.register-section {
    padding: 50px 0;
}

.register-box {
    box-shadow: 0 0 10px rgba(95, 45, 237);
    border: 1px solid #5f2ded;
    padding: 30px;
    border-radius: 10px;
}

.highlight {
    color: #ffcc00;
    font-weight: bold;
}

.form-control:focus {
    border-color: #5f2ded !important; /* Red */
    box-shadow: 0 0 0 0.1rem rgba(95, 45, 237) !important; /* Red shadow */
  }

/***************************************teacher section****************************/

.box16 {
    text-align: center;
    color: #fff;
    position: relative
}

.box16 .box-content,
.box16:after {
    width: 100%;
    position: absolute;
    left: 0
}

.box16:after {
    content: "";
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .08) 69%, rgba(0, 0, 0, .76) 100%);
    top: 0;
    transition: all .5s ease 0s;
}

.box16 .post,
.box16 .title {
    transform: translateY(145px);
    transition: all .4s cubic-bezier(.13, .62, .81, .91) 0s
}

.box16:hover:after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .01) 0, rgba(0, 0, 0, .09) 11%, rgba(0, 0, 0, .12) 13%, rgba(0, 0, 0, .19) 20%, rgba(0, 0, 0, .29) 28%, rgba(0, 0, 0, .29) 29%, rgba(0, 0, 0, .42) 38%, rgba(0, 0, 0, .46) 43%, rgba(0, 0, 0, .53) 47%, rgba(0, 0, 0, .75) 69%, rgba(0, 0, 0, .87) 84%, rgba(0, 0, 0, .98) 99%, rgba(0, 0, 0, .94) 100%)
}

.box16 img {
    width: 100%;
    height: auto;
}

.box16 .box-content {
    padding: 20px;
    margin-bottom: 20px;
    bottom: 0;
    z-index: 1;
}

.box16 .title {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 10px;
}

.box16 .post {
    display: block;
    padding: 8px 0;
    font-size: 15px
}

.box16 .social li a,
.box17 .icon li a {
    border-radius: 50%;
    font-size: 20px;
    color: #fff
}

.box16:hover .post,
.box16:hover .title {
    transform: translateY(0)
}

.box16 .social {
    list-style: none;
    padding: 0 0 5px;
    margin: 40px 0 25px;
    opacity: 0;
    position: relative;
    transform: perspective(500px) rotateX(-90deg) rotateY(0) rotateZ(0);
    transition: all .6s cubic-bezier(0, 0, .58, 1) 0s
}

.box16:hover .social {
    opacity: 1;
    transform: perspective(500px) rotateX(0) rotateY(0) rotateZ(0)
}

.box16 .social:before {
    content: "";
    width: 50px;
    height: 2px;
    background: #fff;
    margin: 0 auto;
    position: absolute;
    top: -23px;
    left: 0;
    right: 0;
}

.box16 .social li {
    display: inline-block;
}

.box16 .social li a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #5f2ded;
    border: 1px solid #5f2ded;
    margin-right: 10px;
    transition: all .3s ease 0s;
}

.box17 .icon li,
.box17 .icon li a {
    display: inline-block;
}

.box16 .social li a:hover {
    background: #0C0E2B;
}

.box16 .social li:last-child a {
    margin-right: 0;
}

@media only screen and (max-width:990px) {
    .box16 {
        margin-bottom: 30px;
    }
}
/*****************************************testimonial section*******************************/
.testimonial-section {
    padding: 50px 0;
    color: #fff;
}
.testimonial-text {
    font-size: 20px;
    color: #ddd;
}
.testimonial-author {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap:10px;
}
.testimonial-author img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}
.floating-images img {
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

/********************************************blog section**************************************/
.blog-card {
    box-shadow: 0 0 10px rgba(95, 45, 237);
    border: 1px solid #5f2ded;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
}
.blog-card:hover {
    transform: translateY(-5px);
}
.blog-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.blog-tag {
    position: absolute;
    top: 10px;
    left: 10px;
    background: black;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
}
.blog-content {
    padding: 20px;
}
.blog-date {
    color: #5f2ded;
    font-weight: bold;
}
.blog-title {
    font-size: 18px;
    font-weight: bold;
}

/*********************************************newsletter********************************/
.newsletter {
    padding: 40px 0;
    text-align: center;
}
.newsletter h2 {
    font-size: 28px;
    font-weight: bold;
}
.newsletter h2 span {
    color: #5f2ded;
}
.newsletter p {
    color: #a3a3a3;
}
.newsletter .input-group {
    max-width: 500px;
    margin: auto;
}
.newsletter .form-control {
    border-radius: 5px 0 0 5px;
}
.newsletter .btn {
    background: #5f2ded;
    color: white;
    border-radius: 0 5px 5px 0;
}
.newsletter .btn:hover {
    color: #5f2ded;
    background-color: #0C0E2B;
    border: 1px solid #5f2ded;
}

/***********************************footer********************************/
.footer {
    background-color: #0c0c24;
    padding: 40px 0;
}
.footer h5 {
    font-weight: bold;
}
.footer a {
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 5px;
    transition: 0.3s;
}
.footer a:hover {
    color: #5f2ded;
}
.icon-box {
    background-color: #5f2ded;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}